# General
node_modules

# OS
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
Thumbs.db:encryptable

# IDE
.vscode
.idea

# Env files
.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
packages/ui/node_modules
packages/ui/npm-debug.log*
packages/ui/yarn-error.log
packages/ui/yarn.lock
packages/ui/package-lock.json

# production
packages/ui/dist

# misc
packages/ui.DS_Store

# umi
packages/ui/src/.umi
packages/ui/src/.umi-production
packages/ui/src/.umi-test
packages/ui/.env.local

# Yarn
yarn-error.log